body{
  color: white;
  background: rgb(159, 159, 159);
  margin: 0px;
  font-family: "Comic Neue", cursive;
}

header{
  border-bottom : solid 2px rgb(42, 122, 228);
  padding: 20px;
  font-size: 32px;
  color : rgb(42, 122, 228);
}

section{
  background: rgb(71, 73, 121);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto{
  margin-right: 5%;
}

img{
  height: 200px;
}
 
.categoria-videos{
  display: flex;
  overfolw-x: auto;
  gap: 10px;
}

.chamada{
  
}